/*/
!/script/
!/bin/
!/.vscode/
!/template/
!/c++/
!/plugin/
!/test/
!/build/
!/docs/
!/locale
/build/release/
/plugin/*
!/plugin/示例.lua
/*.w3x
/log/
!/data/
/data/*/
!/data/zhCN-1.24.4/
!/data/enUS-1.27.1/
