/*/
!/script/
!/bin/
!/.vscode/
!/template/
!/test/
!/docs/
!/c++/
!/3rd/

!/data/
/data/*/
!/data/zhCN-1.24.4/
!/data/enUS-1.27.1/

!/make/
/make/zhCN/
/make/enUS/
/make/ci/

/*.w3x
/log/
*.user

script/share/gitlog.lua

*.exe
/bin/*.dll
!/bin/ffi.dll
!/bin/lni.dll
!/bin/StormLib.dll
!/bin/yue.dll
